<!DOCTYPE html>
<html ng-app="SchedgMeApp">
<head>
	<title>SchedgMe - The Personal Trainer Scheduling System</title>
	<!-- INCLUDE REQUIRED THIRD PARTY LIBRARY JAVASCRIPT AND CSS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="js/ui-bootstrap-custom-tpls-0.12.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="js/app.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="js/SchedgMeApp/controllers/mainController.js"></script>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class='banner'>
        <div class='container'>
            <h1>SCHEDULE TRAINING SESSIONS</h1>
        </div>
    </div>
	<div class="container main-frame"  ng-controller="mainController" ng-init="init()">
    <!--begin trainer dropdown-->
		<div class="search-box row-fluid form-inline" ng-controller="DropdownCtrl">
      <div class="btn-group search-control" dropdown>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
          <span class="selection">{{ selectedAction.name }}</selection> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="action in actions">
            <a ng-click="setAction(action)">{{ action.name }}</a>
          </li>
        </ul>
      </div>
      <!--end trainer dropdown-->
      <div class="city-search">
        <input type="text" name="citySearch" placeholder="Enter city..." />
      </div>
      <!--begin state dropdown-->
      <div class="btn-group state-search" dropdown>
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownStates" dropdown-toggle ng-disabled="disabled">
            {{ selectedState.name }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="state in states">
              <a ng-click="setState(state)">{{ state.name }}</a>
            </li>
          </ul>
      </div>
      <!--end state dropdown-->
      <!--begin specialty dropdown-->
      <div class="btn-group specialty-search" dropdown>
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownSpecialty" dropdown-toggle ng-disabled="disabled">
            {{ selectedSpecialty.name }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="specialty in specialties">
              <a ng-click="setSpecialty(specialty)">{{ specialty.name }}</a>
            </li>
          </ul>
      </div>
      <!--end specialty dropdown-->
      
    </div>
        <div class="results-top"></div>
        <div class="results-container">
            <ul class="episode-list"></ul>
        </div>
        <div class="results-bottom"></div>
	</div>
  
</body>
</html>
